*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body{
  background-color: var(--color4);
 
}

:root{
  --bgcolor:rgb(30, 35, 35);
  --bg2color: #3a4452;
  --txtcolor: #ffffff;
  --color4: rgb(242, 250, 215);
  --color5: rgb(44, 76, 31);
  
}

.dark{
  --bgcolor:rgb(242, 250, 215);;
  --bg2color: #c6d8f1;
  --txtcolor: rgb(30, 25, 25);
  --color4: rgb(30, 35, 35);
  --color5: rgb(149, 245, 109);
}

.theme{
height: 20px;
width: 20px;
border-radius: 50%;
background-color: var(--txtcolor);
cursor: pointer;
}

.navbar{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bgcolor);
}

.logo a{
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    color: var(--txtcolor);
    margin: 0 20px;
  }
  .navbar .menu i{
    color: var(--txtcolor);
    font-size: 25px;
    margin: 0 20px;
    cursor: pointer;
    display: none;
  }

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li {
    margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: larger;
    color: var(--txtcolor);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 5px;
}
.navbar ul li a:hover{
    background: rgb(132, 215, 132);
    color: var(--bgcolor);
    border-radius: 5px;
}
#click{
    visibility: hidden;
}

  @media  (max-width:940px){
    .navbar ul{
        position: fixed;
        top:80px;
        left: 100%;
        background: #111;
        height: 100vh;
        width: 100vw;
        display: block;
        text-align: center;
        transition: 0.5s ease-in-out;
    }
    
    #click:checked ~ ul{
        left: 0;
    }
    #click:checked ~ .menu i:before{
        content: "\f00d";
    }
    .navbar ul li{
        margin: 40px 0;
    }
    .navbar .menu i{
        display: block;
    }
  }
  .hmain{
   position: absolute;
   top: 40%;
   left: 5%;
   color: var(--bgcolor);
   display: inline-block;
   justify-content: space-evenly;
  }

  .hmain a{
    text-decoration: none;
  }
  .hmain a button{
    background-color: var(--bgcolor);
    color: var(--color4);
    height: 30px;
    padding: 5px;
    margin: 50px;
    border-radius: 20px;
  }

  .cover-img{
    width: 100%;
    height: 89.5vh;
    bottom: 0;
  }
  
  .text h4{
    font-size: 35px;
    .new-amsterdam-regular {
      font-family: "New Amsterdam", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    color: var(--bgcolor);
  }
  .fname{
    font-size: 100px;
    .new-amsterdam-regular {
      font-family: "New Amsterdam", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    margin: 5px 0;
    color: var(--bgcolor);
  }
  .lname{
    font-size: 100px;
    .new-amsterdam-regular {
      font-family: "New Amsterdam", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .new-amsterdam-regular {
      font-family: "New Amsterdam", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
        
    padding: 2px 50px;
    color: var(--color5);
  }

  #about{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 100px 0;
    padding-top: 100px;
    background-color: var(--color4);
  }
  #about .abcont img{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px var(--bg2color); ;
    border-radius: 50%;
  }
  .abcont{
    box-shadow: -5px 5px 5px var(--bg2color);
    background-color: var(--txtcolor);
    margin: 30px 100px;
    border-radius: 20px;
    text-align: center;
    height: 90%;
  }
  .abcont h1{
    font-size: 35px;
    .new-amsterdam-regular {
      font-family: "New Amsterdam", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    color: var(--bgcolor);
    font-weight: 800;
  }
  .abcont h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--bgcolor);
  }
  .abcont p{
    font-size: 20px;
    font-family: monospace;
    color: var(--bgcolor);
  }
  #projects{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 100px 0;
    padding-top: 100px;
    background-color: var(--color4);
    color: var(--bgcolor);
  }
  #projects h1{
    font-size: 50px;
    font-family: monospace;
    margin: 10px 0;
  }
  #projects .contents{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p1,.p2,.p3{
    width: 33%;
    height: 20vw;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 3px 5px 10px;
    margin: 0 30px;
    padding: 0 10px;
    display: block;
    justify-content: center;
   align-items: center; 
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .p1 a, .p2 a, .p3 a{
    text-decoration: none;
  }
  #contact{
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    margin: 100px 0;
    padding-top: 100px;
    background-color: var(--color4);
    color: var(--bgcolor);
  }
  #name, #email, #message, #submit{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    .new-amsterdam-regular {
      font-family: "New Amsterdam", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    cursor: pointer;
  }
  .social{
    background-color: rgba(170, 169, 169, 0.399);
    text-align: center;
    
  }
  .social i{
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 20px;
  }

  .social i a{
    text-decoration: none;
  }
  